* {
            font-family: 'Jua', sans-serif;
        }
        .mytitle {
            background-color: green;

            width: 300px;
            height: 200px;

            color: white;
            text-align: center;

            background-image: url("https://www.ancient-origins.net/sites/default/files/field/image/Agesilaus-II-cover.jpg");
            background-size: cover;
            background-position: center;

            border-radius: 10px;
            padding-top: 20px;
        }

        .wrap {
            /*background-color : green;*/
            width: 300px;
            margin: auto;
        }
        .mybtn {
            width : 100px;
            margin: auto;
            display: block;
            /*html은 글속성과 박스속성이 있다. button(글속성)을 box속성으로 바꿔준다.*/
        }

        .red-font {
            color: mediumseagreen;
            font-size: 16px;

        }